hl7_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fname" type="xs:string"/>
                <xs:element name="age" type="xs:positiveInteger"/>
            </xs:sequence>
            <xs:attribute name="pid" type="xs:string" use="required"/>
            <xs:attribute name="gender" type="xs:string" default="female"/>
        </xs:complexType>
    </xs:element>
</xs:schema>