hl7_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstName" type="xs:string" />
                <xs:element name="lastName" type="xs:string" />
                <xs:element name="fullName" type="xs:string" />
                <xs:element name="age" type="xs:integer" />
                <xs:element name="phone" type="xs:string" minOccurs ="2" maxOccurs ="3" />                
            </xs:sequence>
        </xs:complexType>        
    </xs:element>
</xs:schema>
